<div class=" mt-2 mb-2 d-flex justify-content-center align-items-center">
    <div class="card productcard" >

        <button [routerLink]= "['/libros', libro._id]">
            <div class="inner-card" > <img [src]="libro.img" class="img img-fluid rounded"> </div>

        </button>

        <div class="card-body">

            <div class="card-title productcard-title">
                <div class="librotitulo">{{libro.titulo}} </div>
                <div class="nombreautor">{{libro.autor.nombre}}</div>

            </div>

        </div>
        

    </div>
</div>





