<app-search ></app-search>

<ngx-spinner 
    bdColor = "rgba(0,0,0,0.28)" 
    size = "medium" color = "#fff" 
    type = "ball-clip-rotate" 
    [fullScreen] = "true">
    </ngx-spinner>

<div class="container py-4">
    
    <div class="container">

        <div class="card carddetalle" *ngIf="libros.length != 0">
    
            <div class="row" >
                <div  class="cantidad" *ngIf="libros.length === 1">
                    Se encontró {{libros.length}} resultado de  
                    <span>"{{libros[0]?.subCategoria.nombre}}"</span>
                </div>
    
                <div  class="cantidad" *ngIf="libros.length > 1">
                    Se encontraron {{libros.length}} resultados de 
                    <span>"{{libros[0]?.subCategoria.nombre}}"</span>
                </div>
    
            </div>
        </div>
    
    
    
        <br>
    



    <div class="row">

      <div class="col-lg-4 col-md-12 col-sm-12 px-3" >
       
        <br>
        <div class="card cardcategoria productcard  px-3  py-3" >

         <div class="row">
             <div class="col-12">
                  <h5 class="font-weight-bold"> Otras Categorías </h5>
             </div>
             <div class="col">

            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category" 
                 *ngFor="let categoria of categorias" (click)="buscar(categoria.nombre)" > {{categoria.nombre}} <span class="badge badge-primary badge-pill">328</span> </li>

                     </ul>
                    </div>
           </div>
        </div>
      </div>

        <div class="col-lg-8 col-md-12 col-sm-12  ">
      

            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-4">
        
        
                <div *ngFor="let libro of libros">
                          <div class="card-column">
                             <app-productcard [libro]="libro"></app-productcard> 
                          </div>
                </div>
        
            </div>
      </div>
    </div>
</div>


<!-- <h1>----</h1>
<div *ngFor="let subcategoria of subcategorias">
    <div class="card-column">
   <p>{{subcategoria.nombre}}</p>
   <p>{{subcategoria.categoria.nombre}}</p>
    </div>
</div>  -->