.carddetalle {
    background-color: #efefef;
    //  width: 400px;
    padding: 20px;
    margin: 0px;
    border: transparent;
   border-width: 1px; 
   border-style: dashed; 
   border-color: #c7c5c5;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
text-align: center;
align-items: center;


}

.carddetalle span {
    color: rgb(101, 23, 190) ;
    font-size: 20px;


}