<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="/">Home</a></li>
            <li class="list-inline-item"><a routerLink="/nosotros">Nosotros</a></li>
            <li class="list-inline-item"><a href="#">Preguntas frecuentes</a></li>
            <li class="list-inline-item"><a href="#">Eventos</a></li>
        </ul>
        <p class="copyright">The Bookshop © 2021</p>
    </footer>
</div>