.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}
.productcard {
    background-color: #fff;
    //  width: 400px;
    padding: 40px;
    margin: 0px;
    border: transparent;
    border-radius: 15px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.stockinfo{
    background-color: rgb(134, 207, 236);
    height: 15px;
    padding-bottom: 25px;
    align-items: center;
    position: relative;
    width: 80%;
    

}

.stockinfo span{
    
    font-size: 12px;
    color: black;
    
    

}

.stock {
    position: relative;
bottom: 3px;
}

.btncarrito {
float: right;
position: relative;
align-self: flex-end;

}

.align{
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;

}

.align-self{
    align-self: center;

}

.carddetalle {
    background-color: #efefef;
    //  width: 400px;
    padding: 20px;
    margin: 0px;
    border: transparent;
   border-width: 1px; 
   border-style: dashed; 
   border-color: #c7c5c5;
}
 
.rowpadding {
    padding-top: 0px;
    margin: 0px;
    text-align: center;
}

.padding {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;


}

.paddingtopbottom {
    padding-top: 5px;
    padding-bottom: 5px;

}

.letrachica
{font-size: 13px;
	font-family: 'Poppins', sans-serif;
    
}
.pd-wrap {
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
	font-family: 'Poppins', sans-serif;
}

.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
    padding-top: 10px;
    padding-bottom: 5px;

}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 15px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px; 
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none; 
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}


.cardpic {
    width: 270px;

    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0px rgba(0, 0, 0, 0.19);

}

.inner-card {
    background: #fff;
    padding: 15px;
    border-radius: 5px
}



.cardpic:hover{
   
    transform: scale(1.04);
    transition: 1s;
    -ms-transform:scale(1.04); // IE 9 
    -moz-transform:scale(1.04); // Firefox 
    -webkit-transform:scale(1.04); // Safari and Chrome 
    -o-transform:scale(1.04); // 
  }


  //@at-root


p {
        font-family: Poppins;

}


  
a {
    font-family: Poppins;

    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #362a89;
    
  }
  
  a:visited {
    color: #40358d;
  }
  
  a:focus {
  }
  
  a:hover {
    color: #371772;

  }
  
  
  .btn {
    
    text-align: center;
    margin-top: 5px;
    background: #371772;
    color: #fff
}

.btncont {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.btn:focus {
    box-shadow: none;
}

.btn:hover {
    background: transparent;
    border: 2px solid #371772;
    color: #371772;
}


