.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.headerblack{
    background: rgb(49, 32, 94);
    height: 55px;
   // padding-top: 4px;

}



.form-inputs {
    display: flex;
   justify-content: center;
   position: relative;
   top: 10px;

}

.form-inputs .form-control {
    height: 35px;
    width: 200%;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid rgb(170, 170, 170);

}

.form-inputs .form-control:focus {
    box-shadow: none;
    border: 1px solid #000
}

.form-inputs fa-icon {
    position: absolute;
    right: 16px;
    top: 5px;
    color:rgb(192, 192, 192);
    
}
