<!--
    <div class=" container animatedf">

    <div class="row contenedor">
        <h1 class="titulo ">PREGUNTAS FRECUENTES</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">

            <div *ngFor="let pregunta of preguntas" class="row contenedor">

                <div class="card margen ">
                    <div class="card-body">

                        <div class="row contentContainer">
                            <p class="card-title ">{{pregunta.title}}</p>
                        </div>
                        <div class="row textContainer">
                            <p class="card-content">{{pregunta.content}}</p>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
-->

<app-search></app-search>

<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="faq-block card-body">
              <div class="container-fluid py-2">
                <h2 class="display-4 font-weight-light">Preguntas Frecuentes</h2>
                <br>
              </div>
              <div *ngFor="let pregunta of preguntas">
                <div class="accordion">
                  <div class="card" class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        {{pregunta?.pregunta}} </a>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">
                    <div class="card-body">
                      <p class="mb-0">{{pregunta?.respuesta }} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>